<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/rnWalletDEV.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.wallet.itc.adhocdev</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.3</string>
		<key>CFBundleVersion</key>
		<string>4</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: ZhuoPeng Xie (4YWB832VJQ)</string>
		<key>Team</key>
		<string>32G7Q95878</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2019-09-22T14:08:37Z</date>
	<key>Name</key>
	<string>rnWalletDEV</string>
	<key>SchemeName</key>
	<string>rnWalletDEV</string>
</dict>
</plist>
